#banner {
  background: var(--Dark-08, #141414);
  .heading {
    padding: 80px 80px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.418);
    @media screen and (max-width: 768px) {
      padding: 40px 16px;
    }
    h1 {
      color: var(--Absolute-White, #fff);
      font-family: "Kumbh Sans";
      font-size: 55px;
      font-style: normal;
      font-weight: 500;
      line-height: 130%;
      letter-spacing: -1.65px;
    }
    .rowing-text {
      display: flex;
      align-items: center;
      gap: 60px;

      h2 {
        color: var(--Absolute-White, #fff);
        font-family: "Kumbh Sans";
        font-size: 55px;
        font-style: normal;
        font-weight: 500;
        line-height: 130%;
        letter-spacing: -1.65px;
      }
      p {
        color: var(--Grey-60, #98989a);
        font-family: Inter;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
        letter-spacing: -0.48px;
      }
    }
    @media screen and (max-width: 768px) {
      h1 {
        color: var(--Absolute-White, #fff);
        font-family: "Kumbh Sans";
        font-size: 28px;
        font-style: normal;
        font-weight: 500;
        line-height: 130%;
        letter-spacing: -0.84px;
      }
      .rowing-text {
        display: flex;
        flex-wrap: wrap;
        gap: 14px;
        h2 {
          color: var(--Absolute-White, #fff);
          font-family: "Kumbh Sans";
          font-size: 28px;
          font-style: normal;
          font-weight: 500;
          line-height: 130%;
          letter-spacing: -0.84px;
        }
        p {
          color: var(--Grey-60, #98989a);
          font-family: Inter;
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          line-height: 150%;
          letter-spacing: -0.42px;
        }
      }
    }
  }
  .popularNews {
    padding: 60px 80px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.418);
    @media screen and (max-width: 768px) {
      padding: 40px 16px;
    }
    .box {
      display: flex;
      gap: 80px;
      align-items: center;
      .boxImg {
        width: 515px;
        height: auto;
        border-radius: 10px;
        overflow: hidden;

        img {
          width: 100%;
          height: auto;
          object-fit: cover;
          display: block;
        }
      }
      .boxBody {
        .text {
          h2 {
            color: var(--Absolute-White, #fff);
            font-family: Inter;
            font-size: 24px;
            font-style: normal;
            font-weight: 600;
            line-height: 150%;
            letter-spacing: -0.72px;
          }
          p {
            margin-top: 14px;
            color: var(--Grey-60, #98989a);
            font-family: Inter;
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: 150%;
            letter-spacing: -0.54px;
          }
        }
        .moreInfo {
          display: flex;
          gap: 30px;
          margin-top: 40px;
          margin-bottom: 40px;
          ul {
            .head {
              color: var(--Grey-60, #98989a);
              font-family: Inter;
              font-size: 16px;
              font-style: normal;
              font-weight: 400;
              line-height: 150%;
              letter-spacing: -0.48px;
            }
            .content {
              color: var(--Absolute-White, #fff);
              font-family: Inter;
              font-size: 16px;
              font-style: normal;
              font-weight: 400;
              line-height: 150%;
              letter-spacing: -0.48px;
            }
          }
        }
        .actions {
          display: flex;
          align-items: center;
          justify-content: space-between;
          .action-btn {
            display: flex;
            gap: 16px;
            align-items: center;
            button {
              display: flex;
              padding: 8px 16px;
              justify-content: center;
              align-items: center;
              gap: 4px;
              border-radius: 100px;
              border: 1px solid var(--Dark-15, #262626);
              background: var(--Dark-10, #1a1a1a);
              color: var(--Grey-60, #98989a);
              font-family: "Kumbh Sans";
              font-size: 18px;
              font-style: normal;
              font-weight: 400;
              line-height: 150%;
              letter-spacing: -0.54px;
            }
          }
          .more {
            display: flex;
            padding: 18px 24px;
            align-items: center;
            gap: 10px;
            border-radius: 12px;
            border: 1px solid var(--Dark-15, #262626);
            background: var(--Dark-08, #141414);
            color: var(--Grey-60, #98989a);
            font-family: Inter;
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: 150%;
            letter-spacing: -0.54px;
          }
        }
      }
      @media screen and (max-width: 768px) {
        flex-direction: column;
        gap: 30px;
        .boxImg {
          width: 100%;
        }
        .boxBody {
          .text {
            h2 {
              color: var(--Absolute-White, #fff);
              font-family: Inter;
              font-size: 20px;
              font-style: normal;
              font-weight: 600;
              line-height: 150%;
              letter-spacing: -0.6px;
            }
            p {
              color: var(--Grey-60, #98989a);
              font-family: Inter;
              font-size: 16px;
              font-style: normal;
              font-weight: 400;
              line-height: 150%;
              letter-spacing: -0.48px;
            }
          }
          .moreInfo {
            display: flex;
            gap: 20px;
            margin-top: 30px;
            margin-bottom: 30px;
            ul {
              .head {
                color: var(--Grey-60, #98989a);
                font-family: Inter;
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: 150%;
                letter-spacing: -0.42px;
              }
              .content {
                color: var(--Absolute-White, #fff);
                font-family: Inter;
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: 150%;
                letter-spacing: -0.42px;
              }
            }
          }
          .actions {
            gap: 60px;
            .action-btn {
              display: flex;
              gap: 4px;
              align-items: center;
              button {
                display: flex;
                padding: 6px 14px;
                justify-content: center;
                align-items: center;
                gap: 4px;
                border-radius: 100px;
                border: 1px solid var(--Dark-15, #262626);
                background: var(--Dark-10, #1a1a1a);
                color: var(--Grey-60, #98989a);
                font-family: "Kumbh Sans";
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: 150%;
                letter-spacing: -0.42px;
              }
            }
            .more {
              display: flex;
              padding: 14px 20px;
              justify-content: center;
              align-items: center;
              gap: 10px;
              flex: 1 0 0;
              border-radius: 8px;
              border: 1px solid var(--Dark-15, #262626);
              background: var(--Dark-08, #141414);
              color: var(--Grey-60, #98989a);
              font-family: Inter;
              font-size: 14px;
              font-style: normal;
              font-weight: 400;
              line-height: 150%;
              letter-spacing: -0.42px;
            }
          }
        }
      }
    }
  }
}
