#banner {
  background: var(--Dark-08, #141414);
  .heading {
    padding: 130px 162px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.418);
    h1 {
      color: var(--Absolute-White, #fff);
      font-family: "Kumbh Sans";
      font-size: 80px;
      font-style: normal;
      font-weight: 500;
      line-height: 130%; /* 104px */
      letter-spacing: -2.4px;
    }
    .rowing-text {
      display: flex;
      align-items: center;
      gap: 80px;
      h2 {
        color: var(--Absolute-White, #fff);
        font-family: "Kumbh Sans";
        font-size: 80px;
        font-style: normal;
        font-weight: 500;
        letter-spacing: -2.4px;
      }
      p {
        color: var(--Grey-60, #98989a);
        font-family: Inter;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
        letter-spacing: -0.54px;
      }
    }
  }
  .popularNews {
    padding: 80px 162px;
      border-bottom: 1px solid rgba(128, 128, 128, 0.418);
    .box {
      display: flex;
      gap: 80px;
      align-items: center;
      .boxImg {
        width: 515px;
        height: 427px;
        border-radius: 12px;
        overflow: hidden;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      .boxBody {
        .text {
          display: flex;
          gap: 30px;
          flex-direction: column;
          margin-bottom: 50px;
          h2 {
            color: var(--Absolute-White, #fff);
            font-family: Inter;
            font-size: 32px;
            font-style: normal;
            font-weight: 600;
            line-height: 150%;
            letter-spacing: -0.96px;
          }
          p {
            color: var(--Grey-60, #98989a);
            font-family: Inter;
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            line-height: 150%; /* 30px */
            letter-spacing: -0.6px;
          }
        }
        .moreInfo {
          display: flex;
          gap: 50px;
          margin-bottom: 50px;
          ul {
            .head {
              color: var(--Grey-60, #98989a);
              font-family: Inter;
              font-size: 18px;
              font-style: normal;
              font-weight: 400;
              line-height: 150%; /* 27px */
              letter-spacing: -0.54px;
            }
            .content {
              color: var(--Absolute-White, #fff);
              font-family: Inter;
              font-size: 18px;
              font-style: normal;
              font-weight: 400;
              line-height: 150%; /* 27px */
              letter-spacing: -0.54px;
            }
          }
        }
        .actions {
          display: flex;
          align-items: center;
          justify-content: space-between;
          .action-btn {
            display: flex;
            gap: 16px;
            align-items: center;
            button {
              display: flex;
              padding: 8px 16px;
              justify-content: center;
              align-items: center;
              gap: 4px;
              border-radius: 100px;
              border: 1px solid var(--Dark-15, #262626);
              background: var(--Dark-10, #1a1a1a);
              color: var(--Grey-60, #98989a);
              font-family: "Kumbh Sans";
              font-size: 18px;
              font-style: normal;
              font-weight: 400;
              line-height: 150%; /* 27px */
              letter-spacing: -0.54px;
            }
          }
          .more {
            display: flex;
            padding: 18px 24px;
            align-items: center;
            gap: 10px;
            border-radius: 12px;
            border: 1px solid var(--Dark-15, #262626);
            background: var(--Dark-08, #141414);
            color: var(--Grey-60, #98989a);
            font-family: Inter;
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: 150%; /* 27px */
            letter-spacing: -0.54px;
          }
        }
      }
    }
  }
}
