header {
  padding: 20px 80px;
  background-color: #1a1a1a;
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .logo {
      width: 143.125px;
      height: 40px;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    ul {
      display: flex;
      align-items: center;
      gap: 24px;
      font-family: $inter-fonts;
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: 150%;
      color: #fff;
      .active {
        display: flex;
        padding: 10px 18px;
        align-items: center;
        gap: 10px;
        border-radius: 6px;
        border: 1px solid var(--Dark-20, #333);
        background: var(--Dark-08, #141414);
      }
      li {
        color: var(--Grey-50, #7e7e81);
        font-family: Inter;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
      }
    }
    button {
      display: flex;
      padding: 10px 14px;
      align-items: center;
      gap: 10px;
      border-radius: 6px;
      border: none;
      background: var(--Yellow-55, #ffd11a);
      color: var(--Dark-08, #141414);
      font-family: Inter;
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: 150%; /* 21px */
    }
  }
}
