@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kumbh+Sans:wght@100..900&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

header {
  padding: 20px 80px;
  background-color: #1a1a1a;
}
header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header nav .logo {
  width: 143.125px;
  height: 40px;
}
header nav .logo img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
header nav ul {
  display: flex;
  align-items: center;
  gap: 24px;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  color: #fff;
}
header nav ul .active {
  display: flex;
  padding: 10px 18px;
  align-items: center;
  gap: 10px;
  border-radius: 6px;
  border: 1px solid var(--Dark-20, #333);
  background: var(--Dark-08, #141414);
}
header nav ul li {
  color: var(--Grey-50, #7e7e81);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}
header nav button {
  display: flex;
  padding: 10px 14px;
  align-items: center;
  gap: 10px;
  border-radius: 6px;
  border: none;
  background: var(--Yellow-55, #ffd11a);
  color: var(--Dark-08, #141414);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 21px */
}

#banner {
  background: var(--Dark-08, #141414);
}
#banner .heading {
  padding: 80px 80px;
  border-bottom: 1px solid rgba(128, 128, 128, 0.418);
}
#banner .heading h1 {
  color: var(--Absolute-White, #fff);
  font-family: "Kumbh Sans";
  font-size: 55px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%;
  letter-spacing: -1.65px;
}
#banner .heading .rowing-text {
  display: flex;
  align-items: center;
  gap: 60px;
}
#banner .heading .rowing-text h2 {
  color: var(--Absolute-White, #fff);
  font-family: "Kumbh Sans";
  font-size: 55px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%;
  letter-spacing: -1.65px;
}
#banner .heading .rowing-text p {
  color: var(--Grey-60, #98989a);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: -0.48px;
}
#banner .popularNews {
  padding: 60px 80px;
  border-bottom: 1px solid rgba(128, 128, 128, 0.418);
}
#banner .popularNews .box {
  display: flex;
  gap: 80px;
  align-items: center;
}
#banner .popularNews .box .boxImg {
  width: 515px;
  height: 325px;
  border-radius: 10px;
  overflow: hidden;
}
#banner .popularNews .box .boxImg img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
#banner .popularNews .box .boxBody .text h2 {
  color: var(--Absolute-White, #fff);
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 36px */
  letter-spacing: -0.72px;
}
#banner .popularNews .box .boxBody .text p {
  margin-top: 14px;
  color: var(--Grey-60, #98989a);
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 27px */
  letter-spacing: -0.54px;
}
#banner .popularNews .box .boxBody .moreInfo {
  display: flex;
  gap: 30px;
  margin-top: 40px;
  margin-bottom: 40px;
}
#banner .popularNews .box .boxBody .moreInfo ul .head {
  color: var(--Grey-60, #98989a);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
  letter-spacing: -0.48px;
}
#banner .popularNews .box .boxBody .moreInfo ul .content {
  color: var(--Absolute-White, #fff);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
  letter-spacing: -0.48px;
}
#banner .popularNews .box .boxBody .actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#banner .popularNews .box .boxBody .actions .action-btn {
  display: flex;
  gap: 16px;
  align-items: center;
}
#banner .popularNews .box .boxBody .actions .action-btn button {
  display: flex;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  gap: 4px;
  border-radius: 100px;
  border: 1px solid var(--Dark-15, #262626);
  background: var(--Dark-10, #1a1a1a);
  color: var(--Grey-60, #98989a);
  font-family: "Kumbh Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 27px */
  letter-spacing: -0.54px;
}
#banner .popularNews .box .boxBody .actions .more {
  display: flex;
  padding: 18px 24px;
  align-items: center;
  gap: 10px;
  border-radius: 12px;
  border: 1px solid var(--Dark-15, #262626);
  background: var(--Dark-08, #141414);
  color: var(--Grey-60, #98989a);
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 27px */
  letter-spacing: -0.54px;
}

#news {
  padding: 60px 80px;
  background: var(--Dark-08, #141414);
}
#news .box {
  width: 100%;
  display: flex;
  flex-direction: column;
}
#news .box .boxImg {
  width: 100%;
  overflow: hidden;
}
#news .box .boxImg img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
}
#news .boxBody .text {
  margin-top: 16px;
  display: flex;
  gap: 4px;
  flex-direction: column;
  margin-bottom: 16px;
}
#news .boxBody .text h2 {
  color: var(--Absolute-White, #fff);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 24px */
  letter-spacing: -0.48px;
}
#news .boxBody .text p {
  color: var(--Grey-60, #98989a);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
  letter-spacing: -0.48px;
}
#news .boxBody .actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
}
#news .boxBody .actions .action-btn {
  display: flex;
  gap: 16px;
  align-items: center;
}
#news .boxBody .actions .action-btn button {
  display: flex;
  padding: 6px 14px;
  justify-content: center;
  align-items: center;
  gap: 4px;
  border-radius: 100px;
  border: 1px solid var(--Dark-15, #262626);
  background: var(--Dark-10, #1a1a1a);
  color: var(--Grey-60, #98989a);
  font-family: "Kumbh Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 21px */
  letter-spacing: -0.42px;
}
#news .boxBody .actions .more {
  display: flex;
  padding: 14px 20px;
  justify-content: center;
  align-items: center;
  gap: 4px;
  flex: 1 0 0;
  border-radius: 8px;
  border: 1px solid var(--Dark-15, #262626);
  background: var(--Dark-08, #141414);
  color: var(--Grey-60, #98989a);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 21px */
  letter-spacing: -0.42px;
}

#hub .hubHeader {
  border-top: 1px solid var(--Dark-15, #262626);
  border-bottom: 1px solid var(--Dark-15, #262626);
  background: var(--Dark-10, #1a1a1a);
  padding: 80px;
}
#hub .hubHeader .heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#hub .hubHeader .heading .text {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 14px;
}
#hub .hubHeader .heading .text button {
  display: flex;
  padding: 4px 8px;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
  border-radius: 4px;
  background: var(--Dark-20, #333);
  color: var(--Absolute-White, #fff);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 24px */
  letter-spacing: -0.48px;
}
#hub .hubHeader .heading .text h1 {
  color: var(--Absolute-White, #fff);
  font-family: "Kumbh Sans";
  font-size: 44px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%; /* 57.2px */
  letter-spacing: -1.32px;
}
#hub .hubHeader .heading button {
  display: flex;
  padding: 14px 20px;
  align-items: center;
  gap: 4px;
  border-radius: 8px;
  border: 1px solid var(--Dark-15, #262626);
  background: var(--Dark-08, #141414);
  color: var(--Grey-60, #98989a);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 21px */
  letter-spacing: -0.42px;
}
#hub .discoverList {
  padding: 40px 80px;
  border-bottom: 1px solid var(--Dark-15, #262626);
  background: var(--Dark-08, #141414);
}
#hub .discoverList ul {
  display: flex;
  gap: 14px;
  align-items: center;
}
#hub .discoverList ul .active {
  display: flex;
  padding: 24px 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex: 1 0 0;
  border-radius: 7px;
  border: 1px solid var(--Dark-15, #262626);
  background: var(--Dark-10, #1a1a1a);
  color: var(--Absolute-White, #fff);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 21px */
  letter-spacing: -0.42px;
}
#hub .discoverList ul li {
  display: flex;
  padding: 24px 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex: 1 0 0;
  border-radius: 7px;
  border: 1px solid var(--Dark-15, #262626);
  color: var(--Grey-60, #98989a);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 21px */
  letter-spacing: -0.42px;
}
#hub .reviews {
  background: var(--Dark-08, #141414);
}
#hub .reviews .person {
  padding: 60px 80px;
  display: flex;
  gap: 40px;
  border-bottom: 1px solid var(--Dark-15, #262626);
}
#hub .reviews .person .avatar {
  display: flex;
  width: 305px;
  align-items: start;
  gap: 10px;
}
#hub .reviews .person .avatar ul {
  display: flex;
  align-items: start;
  gap: 10px;
}
#hub .reviews .person .avatar ul li {
  display: flex;
  flex-direction: column;
}
#hub .reviews .person .avatar ul li img {
  width: 60px;
  height: 60px;
  flex-shrink: 0;
  border-radius: 42px;
  -o-object-fit: contain;
     object-fit: contain;
}
#hub .reviews .person .avatar ul li h2 {
  color: var(--Absolute-White, #fff);
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 27px */
  letter-spacing: -0.54px;
}
#hub .reviews .person .avatar ul li span {
  color: var(--Grey-60, #98989a);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
  letter-spacing: -0.48px;
}
#hub .reviews .person .content {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#hub .reviews .person .content .text h2 {
  color: var(--Grey-60, #98989a);
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 27px */
  letter-spacing: -0.54px;
}
#hub .reviews .person .content .text h3 {
  margin-top: 24px;
  color: var(--Absolute-White, #fff);
  font-family: Inter;
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 33px */
  letter-spacing: -0.66px;
  margin-bottom: 6px;
}
#hub .reviews .person .content .text p {
  color: var(--Grey-60, #98989a);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: -0.48px;
  margin-bottom: 24px;
}
#hub .reviews .person .content .text ul {
  display: flex;
  align-items: center;
  gap: 8px;
}
#hub .reviews .person .content .text ul li {
  display: flex;
  align-items: center;
  padding: 6px 12px;
  justify-content: center;
  align-items: center;
  gap: 2px;
  border-radius: 100px;
  border: 1px solid var(--Dark-15, #262626);
  background: var(--Dark-10, #1a1a1a);
  color: var(--Grey-60, #98989a);
  font-family: "Kumbh Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: -0.42px;
}
#hub .reviews .person .content .text ul li .ri-heart-3-fill {
  color: red;
}
#hub .reviews .person .content .text ul li i {
  width: 20px;
  height: 20px;
}
#hub .reviews .person .content .readMore button {
  display: flex;
  padding: 14px 20px;
  align-items: center;
  gap: 4px;
  border-radius: 8px;
  border: 1px solid var(--Dark-15, #262626);
  background: var(--Dark-08, #141414);
  color: var(--Grey-60, #98989a);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: -0.42px;
}

#featured {
  background: var(--Dark-08, #141414);
}
#featured .featuredHeader {
  border-top: 1px solid var(--Dark-15, #262626);
  border-bottom: 1px solid var(--Dark-15, #262626);
  background: var(--Dark-10, #1a1a1a);
  padding: 80px;
}
#featured .featuredHeader .heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#featured .featuredHeader .heading .text {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 14px;
}
#featured .featuredHeader .heading .text button {
  display: flex;
  padding: 4px 8px;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
  border-radius: 4px;
  background: var(--Dark-20, #333);
  color: var(--Absolute-White, #fff);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 24px */
  letter-spacing: -0.48px;
}
#featured .featuredHeader .heading .text h1 {
  color: var(--Absolute-White, #fff);
  font-family: "Kumbh Sans";
  font-size: 44px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%; /* 57.2px */
  letter-spacing: -1.32px;
}
#featured .featuredHeader .heading button {
  display: flex;
  padding: 14px 20px;
  align-items: center;
  gap: 4px;
  border-radius: 8px;
  border: 1px solid var(--Dark-15, #262626);
  background: var(--Dark-08, #141414);
  color: var(--Grey-60, #98989a);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 21px */
  letter-spacing: -0.42px;
}
#featured .video .box {
  padding: 60px 80px;
  width: 100%;
  border-right: 1px solid #262626;
  border-top: 1px solid #262626;
}
#featured .video .box .box-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
#featured .video .box .boxBody {
  display: flex;
  flex-direction: column;
  gap: 6px;
  margin-top: 20px;
}
#featured .video .box .boxBody h2 {
  color: var(--Absolute-White, #fff);
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 30px */
  letter-spacing: -0.6px;
}
#featured .video .box .boxBody h3 {
  color: var(--Grey-60, #98989a);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
  letter-spacing: -0.48px;
}/*# sourceMappingURL=style.css.map */